.container{
    background-image: url('https://www.fr8.app/wp-content/uploads/2023/07/Types-of-Trailers-in-Logistics.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    /*background-size: contain; */
   align-content: center;
   
}

body{
    text-align: center;
    
}

.backButton {
    text-align: left;
    left: 10px;
    position: 'fixed';
    top: 10px;
    left: '10px';
    padding: 5px 10px;
    cursor: pointer;
}

.login-header{
    font-weight: bold;
    height: 60px;
    font-size: 23px;
    background-color: aqua;
    align-content: center;
    left: 0;
    top: 0;
    z-index: 1000;
}

label {
    color: greenyellow;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}

.login-h2{
    color: cadetblue;
}

.fieldset-login {
    width: 800px;
    text-align: center;
    align-items: center;
    align-content: center;
    height: 480px;
    background: rgba(255, 255, 255, 0.4); 
}

input{
    height: 25px;
    margin-bottom: 15px;
    align-items: center;
}
button{
    height: 25px;
    margin-top: 17px;
    font-weight: bold;
}

hr{
    margin-bottom: 15px;
}