.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #80c921;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: rgb(52, 12, 163);
  padding-top: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 40px;
  font-style: italic;
  color:blueviolet;
  padding-bottom: 50px;
}
.start-button {
  background-color: #61dafb;
  border-radius: 40px;
  width: auto;
  border: none;
  padding: 10px 20px;
  display: inline-block;
  font-weight: bold;
  /* padding-top: 30px; */
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 16px;
}

.start-button:hover {
  
  background-color: #218838;
  transform: scale(1.45);
}

.body {
    justify-content: center;
    align-items: center;
    align-content: center;
}

.c {
    justify-content: center;
   /* align-content: center; */
    align-items: center;
}
