.App {
  text-align: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1ccccc;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: rgb(52, 12, 163);
  padding-top: 20px;
  font-weight: bold;
  /* position: fixed; */
  position: sticky;
  z-index: 1000;
  top: 0;
  left: 0;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 40px;
  font-style: italic;
  color:blueviolet;
  padding-bottom: 50px;
  align-items: center;
  text-align: center;
}

.start-button {
  
  border-radius: 40px;
  width: auto;
  border: none;
  padding: 10px 20px;
  display: inline-block;
  font-weight: bold;
  /* padding-top: 30px; */
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 16px;
  text-align: center;
  align-items: center;
  align-content: center; 
}

.start-button:hover {
  
  background-color: #218838;
  transform: scale(1.45);
}

.container {
    justify-content: center;
    align-items: center;
    align-content: center;
    /* background-color: #61dafb; */
}

.c {
    justify-content: center;
   /* align-content: center; */
    align-items: center;
    
}

.navbar {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 0 0rem;
  position: sticky;
  top: 0;
  z-index: 100;
  left: 0;
}

.nav-container {
  /* max-width: 1200px; */

  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #61dafb;
  /* position: fixed; */
  
}

.nav-logo h2 {
  color: #333;
  margin: 0;
  font-size: 1.8rem;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2rem;
  
}

.nav-item {
  position: relative;
  /* color: #218838;
  font-size: larger; */
}

.nav-link {
  text-decoration: none;
  color: #b11dc4;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #007bff;
}

.c {
  /* background-color: #9cc01a; */
  background-image: url('https://img.freepik.com/premium-photo/plane-is-flying-water-cargo-ship-is-flying-sky_1316263-147827.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 40px;
  font-style: italic;
  color:blueviolet;
  padding-bottom: 50px;
  align-items: center;
  text-align: center;
  height: 800px;
    

}